In [1]:
1+2

3

In [2]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [3]:
sum(range(1, 10000, 2))

25000000

## for 루프

+ [파이썬] (http://python.org) 은 귀도가 만들었습니다.
+ range 함수
+ 0이상 10미만의 범위

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
message  = "Hello, Python..."
name = "seokhyeon"
birth = 1992
age = 2018 - birth
print(message, name, age)

Hello, Python... seokhyeon 26

## 데이터 타입
### int

In [16]:
10 + 2

12

In [17]:
10 / 3

3.3333333333333335

In [18]:
10 / 5

2.0

In [19]:
10 // 3

3

In [20]:
10 % 3

1

In [21]:
divmod(10, 3)

(3, 1)

In [22]:
몫, 나머지 = divmod(10, 3)

In [23]:
몫

3

In [24]:
나머지

1

## bool

In [34]:
a = 100000
b = 100000

In [35]:
a == b

True

## 어드레스

In [37]:
a is b

False

### str

In [38]:
name = "Python"
print(name)

Python

In [40]:
name = 'Python'
print(name)

Python

In [41]:
"Hello, \"Python\", Ruby, Java"

'Hello, "Python", Ruby, Java'

In [42]:
'Hello, "Python", Ruby, Java'

'Hello, "Python", Ruby, Java'

In [43]:
가사 = """사랑아 그리운 내 사랑아
이렇게 아픈 내 사랑아
얼마나 아프고 아파해야
아물 수 있겠니"""

In [44]:
가사

'사랑아 그리운 내 사랑아\n이렇게 아픈 내 사랑아\n얼마나 아프고 아파해야\n아물 수 있겠니'

In [45]:
이름 = "트럼프"
국적 = "미국"

In [47]:
"안녕. %s. 너는 %s 출생이구나." %(이름, 국적)

'안녕. 트럼프. 너는 미국 출생이구나.'

In [50]:
"안녕. {}. 너는 {} 출생이구나.".format(이름, 국적)

'안녕. 트럼프. 너는 미국 출생이구나.'

In [51]:
"안녕. {0}. 너는 {1} 출생이구나.".format(이름, 국적)

'안녕. 트럼프. 너는 미국 출생이구나.'

In [53]:
"안녕. {1}. 너는 {0} 출생이구나.".format(이름, 국적)

'안녕. 미국. 너는 트럼프 출생이구나.'

In [55]:
"안녕. {1}. 반갑다 {1}. 너는 {0} 출생이구나.".format(이름, 국적)

'안녕. 미국. 반갑다 미국. 너는 트럼프 출생이구나.'

In [56]:
"안녕. {이름}. 반갑다 {이름}. 너는 {국적} 출생이구나.".format(이름=이름, 국적=국적)

'안녕. 트럼프. 반갑다 트럼프. 너는 미국 출생이구나.'

In [57]:
이름

'트럼프'

In [61]:
import time

print("hello")
time.sleep(3)
print("world")

hello
world

### 반복문

In [63]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in range(10000000000):
    break

In [65]:
range?

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(2, 10, 2))

[2, 4, 6, 8]

#### Quiz

0이상 '100000' 범위에서, 3과 5의 공배수의 합을 구하세요.

In [85]:
sum(range(0, 100000+1, 15))

333316665

In [87]:
result = 0
for i in range(100001):
    if i % 3 == 0 and i % 5 == 0:
        result += i
result

333316665

In [89]:
sum(i
for i in range(100001)
    if i % 3 == 0 and i % 5 == 0)

333316665